@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

:root {
  /* color */
  --primary: #6c69ff;
  --purple50: #f8f8fc;
  --purple100: #e7e7ff;
  --purple200: #bbbaff;
  --yellow: #ffe926;
  --coral: #ff5e5e;
  --mint: #33dfd5;
  --gray: #8a8a8a;
  --white: #ffffff;
  --black: #222222;

  --border-gray: #eaeaea;

  --font-secondary: #7d7bb7;
  --font-gray700: #444444;
  --font-gray500: #a2a2a5;
  --font-gray400: #b1b0bb;

  /* font */
  --font: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, sans-serif;

  --font-xxs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;
  --font-xxxl: 24px;

  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--black));
  font-family: var(--font);
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  list-style: none;
}
